
<div class="row">

  <div class="col-xxl-6">
    <div class="  d-none  d-xxl-flex justify-content-center align-content-center my-5">
      <img src="../../../../assets/img/imgSignup.jpg" alt="" height="700">
    </div>
  </div>

  <div class="col-sm-10  col-md-10 col-lg-10 col-xxl-4 d-flex  justify-content-start  align-items-center  flex-column" style="height: 600px; margin: 130px auto 0 auto;" >
    <div class="d-none d-md-block d-lg-block d-xxl-block" >
      <h2 class="text-center">YourTask</h2>
      <p> Cadastre-se e se torne mais produtivo e organizado</p>
    </div>
    <form style="margin-left: 75px; width: 400px;" (submit)="register()">
      <div class="mb-3">
        <label for="name" class="form-label">Nome</label>
        <input type="name" class="form-control" id="name"  name="name" [(ngModel)]="user.name" required>
        <div *ngIf="formValidation == 'empty nome field' " class="validationError">
          <i class="bi bi-exclamation-triangle"></i> Campo de Nome não foi preenchido vazio.
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input #email="ngModel" type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" [(ngModel)]="user.email" required [email]="true">
        <div *ngIf="!email.valid && email.touched"  class="validationError">
          <i class="bi bi-exclamation-triangle"></i> preencha com um email valido.
        </div>
        <div  *ngIf="formValidation == 'empty email field'  " class="validationError">
          <i class="bi bi-exclamation-triangle"></i> Campo de Email não foi preenchido vazio.
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password" required>
        <div *ngIf="formValidation == 'empty password field' " class="validationError">
          <i class="bi bi-exclamation-triangle"></i> Campo de Senha não foi preenchido vazio.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
   </div>


</div>
