<div class="card text-center d-flex justify-content-between" style="margin-top: 200px;">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">Desculpe, esta página não está disnponível.</h5>
    <p class="card-text">O link que voce seguiu esta quebrado ou a pagina pode ter sido removida.</p>
    <p class="card-text">Clique no botão a baixo para voltar para a pagina inicial.</p>
    <a href="#" class="btn btn-primary" routerLink="/home">Pagina Inicial</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
