
<div  class="d-flex justify-content-center  align-items-center flex-column" style="height: 600px;"  >
<div class="mb-3">
  <h2>Edição de  Projetos</h2>
</div>
  <div>
      <form style="width: 400px;" (ngSubmit)="editProject()">
        <div class="mb-3">
          <label for="name" class="form-label">Nome do projeto</label>
          <input [(ngModel)]="projects.name" type="text" class="form-control" id="name"  name="name"  >
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descrição</label>
          <textarea [(ngModel)]="projects.description" class="form-control is-invalid" id="description" name="description" placeholder="Digite a descrição do projeto" required></textarea>
        </div>
        <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary" >salvar</button>
              <button type="button" class="btn btn-primary ms-3" routerLink="/projeto">cancelar</button>
        </div>

      </form>
  </div>

</div>
