<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="container-fluid">
    <a class="navbar-brand ms-5" routerLink="/home"><img src="../../../assets/img/logo.png" style="height: 30px; width: 80px; opacity: 0.7;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
      <ng-container class="d-flex " *ngIf="!authService.loggedIn(); else loggedIn">
        <button type="button" class="btn btn-light me-3 btn-link px-3" routerLink="/login">Login</button>
        <button type="button" class="btn btn-primary me-5 px-3" style="margin-right: 100" routerLink="/signup">Cadastre-se</button>
      </ng-container>

      <ng-template class="d-flex" #loggedIn>
        <button type="button" class="btn btn-light me-3 btn-link px-3" style="margin-right: 100" routerLink="/projeto">Meus Projetos</button>
        <button type="button" class="btn btn-light me-3 btn-link px-3" style="margin-right: 100" routerLink="/infoUser">Minhas Informações</button>
        <button type="button" class="btn btn-light me-3 btn-link px-3" (click)="authService.logout()">Sair</button>
      </ng-template>
    </div>
  </div>
</nav>
