
  <h3 class="text-center mt-5 mb-3">Seja bem vindo, {{user.name}}!</h3>
<div class="d-flex  justify-content-center " style="height: 600px;">
  <div class="card" style="width: 20rem; height: 250px;" >
    <div class="card-header text-center">
      <h3>Meus Dados</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-muted"><h3>Nome: {{user.name}}</h3></li>
      <li class="list-group-item text-muted"><h3>Email: {{user.email}}</h3></li>
    </ul>
    <div class="d-flex justify-content-center" style="">
      <button type="button" class="btn btn-light">Editar</button>
      <button type="button" class="btn btn-light ms-2 text-muted">Deletar conta</button>
    </div>
  </div>

</div>

